<!DOCTYPE html>
<html lang="en">
  <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <head>
    <title><%= siteTitle %></title>
    <% include ../partials/head %>
    
    <style>
      * {
        border-radius: 0px !important;
      }
    </style>
  </head>
  <body>
    <% include ../partials/navbar %>
    <!-- Your page content goes here -->
    <div>
      <% if (user) { %>
        <!-- Show Sign Out button if the user is logged in -->
        <a href="/logout" class="btn btn-danger float-right">Sign Out</a>
      <% } else { %>
        <!-- Show Sign In button if the user is not logged in -->
        <a href="/signin" class="btn btn-primary float-right">Sign In</a>
      <% } %>
    </div>
  </body>
</html>
